/* Style the navigation bar */
body {
    margin: 0;
    padding: 0;
}

/* Style the content */
.content {
    margin-top: 5rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    text-align: center;
}

/* Basic list styling */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Nested lists */
ul ul {
    margin: 0 20px;
}

/* Horizontal lists */
.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.horizontal-list li {
    margin: 0 10px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
}

/* Checklists */
.checklist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.checklist li {
    position: relative;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}


.checklist li input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.checklist li input[type="checkbox"]:checked {
    background-color: #0f9d58;
    border-color: #0f9d58;
}

/* Description lists */
.description-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.description-list dt {
    font-weight: bold;
    margin-bottom: 5px;
}

.description-list dd {
    margin-bottom: 10px;
}

/* Container holding the image and the text */
.full_container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-image {
    /* Add the blur effect */
    filter: brightness(40%);

    /* Full height */
    height: 40cm;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: gray;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.footer-options {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-options div {
    margin: 0 20px;
}

.footer-options h3 {
    margin-bottom: 10px;
}

.footer-options a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}